*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf'), format("truetype");
    font-weight: 400;
}
body{
    font-family: 'Poppins';
    font-weight: 400;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* header */
.header_wrapper{
    padding-top: 15px;
    padding-bottom: 15px;
}
.header_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.menu_link{
    font-size: 15px;
    color: #444444;
    transition: ease;
}
.menu_link:hover{
    border-bottom: 2px solid #f4a900;
}
/* intro */
.intro{
    padding: 245px 0 60px 0;
    background: url("../img/intro_bg.jpg") no-repeat center center / cover;
}
.intro_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.intro_subcontent{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.intro_title{
    margin-top: 19px;
    font-weight: 400;
    font-size: 32px;
    color: #45525B;
    text-align: center;
    margin-bottom: 160px;
}
.intro_arrow{
    animation: slide-in 2.5s both infinite;
}
  
@keyframes slide-in{
    0%{
      transform: translateY(-50px);
    }
    50%{
      transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}
/* section2 */
.ourgoal{
    padding: 100px 0 100px 0;
    background-color: #FAFAFC;
}
.ourgoal_wrapper{
    display: flex;
    justify-content: center;
}
.ourgoal_content{
    display: flex;
    align-items: center;
}
.ourgoal_maintext{
    margin-right: 135px;
}
.ourgoal_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    line-height: 20px;
    text-transform: uppercase;
}
.ourgoal_subtitle{
    font-size: 48px;
    font-weight: 400;
    color: #45525B;
    line-height: 53px;
}
.ourgoal_text{
    width: 561px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 8px;
}
.ourgoal_text2{
    width: 561px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
.ourgoal_broker{
    display: flex;
    align-items: center;
    margin-top: 19px;
}
.brokertext{
    font-size: 16px;
    font-weight: 400;
    color: #45525B;
    margin-left: 8px;
}
.brokertext span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #6F7278;
}
/* section3 */
.requirements{
    padding: 100px 0 100px 0;
}
.requirements_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.requirements_texts{
    text-align: center;
    margin-bottom: 30px;
}
.requirements_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 11px;
}
.requirements_title span{
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    color: #45525B;
    letter-spacing: normal;
    text-transform: none;
}
.requirements_subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #6F7278;
}
.requirements_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3_pic{
    margin-right: 32px;
}
.requirements_block{
    width: 300px;
    height: 167px;
    padding: 21px 0 0 21px;
    border: 1px solid transparent;
}
.requirements_block:hover{
    background-color: #FAFAFC;
    border-radius: 10px;
    border: 1px solid #CACCD133;
}
.requirements_block_text{
    font-size: 14px;
    font-weight: 400;
    color: #45525B;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.requirements_block_text span{
    text-transform: none;
    letter-spacing: normal;
    color: #6F7278;
}
.sn3_pic{
    margin-bottom: 10.25px;
}
/* section4 */
.picture{
    background: url("../img/section4_bg.jpg") no-repeat center center / cover;
    padding: 230px 0 350px 0;
    height: 600px;
}
.picture_wrapper{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}
.picture_wrapper:hover{
    opacity: 100%;
}
.picture_texts{
    align-items: center;
    margin-right: 90px;
}
.picture_title{
    font-size: 14px;
    font-weight: 400;
    color: #45525B;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.picture_subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #292C32;
    margin-bottom: 9px;
}
.picture_view{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #45525B;
}
.sn4_arrow{
    margin-left: 6px;
    animation: sn4_arrow 2.5s linear infinite;
}
  
@keyframes sn4_arrow{
    0%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(30px);
    }
}
/* section5 */
.current{
    padding: 100px 0 100px 0;
    background-color: #FAFAFC;
}
.current_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.current_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.current_title span{
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    color: #45525B;
    letter-spacing: normal;
    text-transform: none;
}
.current_subtitle{
    width: 574px;
    font-size: 18px;
    font-weight: 400;
    color: #6F7278;
}
.current_block{
    width: 379px;
    height: 385px;
    background-color: white;
}