*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
body{
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* header */
.header_wrapper{
    padding-top: 15px;
    padding-bottom: 15px;
}
.header_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.menu_link{
    font-size: 15px;
    color: #444444;
    transition: ease;
}
.menu_link:hover{
    border-bottom: 2px solid #f4a900;
}
/* intro */
.intro{
    padding: 245px 0 60px 0;
    background: url("../img/intro_bg.jpg") no-repeat center center / cover;
}
.intro_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.intro_subcontent{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.intro_title{
    margin-top: 19px;
    font-weight: 400;
    font-size: 32px;
    color: #45525B;
    text-align: center;
    margin-bottom: 160px;
}
.intro_arrow{
    animation: slide-in 2.5s both infinite;
}
  
@keyframes slide-in{
    0%{
      transform: translateY(-50px);
    }
    50%{
      transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}
/* section2 */
.ourgoal{
    padding: 100px 0 100px 0;
    background-color: #FAFAFC;
}
.ourgoal_wrapper{
    display: flex;
    justify-content: center;
}
.ourgoal_content{
    display: flex;
    align-items: center;
}
.ourgoal_maintext{
    margin-right: 135px;
}
.ourgoal_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    line-height: 20px;
    text-transform: uppercase;
}
.ourgoal_subtitle{
    font-size: 48px;
    font-weight: 400;
    color: #45525B;
    line-height: 53px;
}
.ourgoal_text{
    width: 561px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 8px;
}
.ourgoal_text2{
    width: 561px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
.ourgoal_broker{
    display: flex;
    align-items: center;
    margin-top: 19px;
}
.brokertext{
    font-size: 16px;
    font-weight: 400;
    color: #45525B;
    margin-left: 8px;
}
.brokertext span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #6F7278;
}
/* section3 */
.requirements{
    padding: 100px 0 100px 0;
}
.requirements_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.requirements_texts{
    text-align: center;
    margin-bottom: 30px;
}
.requirements_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 11px;
}
.requirements_title span{
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    color: #45525B;
    letter-spacing: normal;
    text-transform: none;
}
.requirements_subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #6F7278;
}
.requirements_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3_pic{
    margin-right: 32px;
}
.requirements_block{
    width: 300px;
    height: 167px;
    padding: 21px 0 0 21px;
    border: 1px solid transparent;
}
.requirements_block:hover{
    background-color: #FAFAFC;
    border-radius: 10px;
    border: 1px solid #CACCD133;
}
.requirements_block_text{
    font-size: 14px;
    font-weight: 400;
    color: #45525B;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.requirements_block_text span{
    text-transform: none;
    letter-spacing: normal;
    color: #6F7278;
}
.sn3_pic{
    margin-bottom: 10.25px;
}
/* section4 */
.picture{
    background: url("../img/section4_bg.jpg") no-repeat center center / cover;
    padding-top: 224px;
    height: 624px;
}
.picture_wrapper{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}
.picture_wrapper:hover{
    opacity: 100%;
}
.picture_texts{
    align-items: center;
}
.picture_title{
    font-size: 14px;
    font-weight: 400;
    color: #45525B;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.picture_subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #292C32;
    margin-bottom: 9px;
}
.picture_view{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #45525B;
}
.view_text{
    border-bottom: 1px solid transparent;
}
.view_text:hover{
    border-bottom: 1px solid #45525B;
}
.sn4_arrow{
    margin-left: 6px;
    animation: sn4_arrow 2.5s linear infinite;
}
  
@keyframes sn4_arrow{
    0%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(30px);
    }
}
/* section5 */
.current{
    padding: 100px 0 100px 0;
    background-color: #FAFAFC;
}
.current_wrapper{
    display: flex;
    justify-content: center;
}
.current_box{
    display: flex;
    flex-direction: column;
}
.current_texts{
    margin-bottom: 30px;
}
.current_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.current_title span{
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    color: #45525B;
    letter-spacing: normal;
    text-transform: none;
}
.current_subtitle{
    width: 574px;
    font-size: 18px;
    font-weight: 400;
    color: #6F7278;
}
.current_blocks_first{
    display: flex;
    margin-bottom: 21px;
}
.current_blocks_second{
    display: flex;
    margin-bottom: 20px;
}
.current_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-right: 16px;
    border: 2px solid transparent;
    height: 385px;
}
.current_block:hover{
    border: 2px solid #6b6b6ba8;
}
.current_block_texts{
    margin-top: 21px;
    text-align: center;
}
.current_block_home{
    font-size: 12px;
    color: #6F7278;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.current_block_street{
    font-size: 20px;
    color: #45525B;
    margin-bottom: 10px;
}
.current_block_subtexts{
    width: 346px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.current_block_subtext{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #45525B;
}
.subtext_pic{
    margin-right: 8px;
}
.current_view{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    color: #45525B;
}
/* section6 */
.ourpeople{
    padding: 100px 0 100px 0;
}
.ourpeople_wrapper{
    display: flex;
    justify-content: center;
}
.ourpeople_box{
    display: flex;
}
.ourpeople_texts{
    width: 368px;
    margin-right: 64px;
}
.ourpeople_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ourpeople_subtitle{
    font-size: 36px;
    font-weight: 400;
    color: #45525B;
    line-height: 44px;
    margin-bottom: 13px;
}
.ourpeople_subtext{
    font-size: 17px;
    font-weight: 400;
    color: #6F7278;
    margin-bottom: 20px;
}
.ourpeople_view{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #45525B;
}
.ourpeople_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 736px;
}
.ourpeople_content_blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.ourpeople_content_block{
    display: flex;
    align-items: center;
    width: 360px;
}
/* section7 */
.newsroom{
    padding: 100px 0 100px 0;
    background-color: #FAFAFC;
}
.newsroom_wrapper{
    display: flex;
    justify-content: center;
}
.newsroom_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsroom_texts{
    text-align: center;
    margin-bottom: 20px;
}
.newsroom_title{
    font-size: 14px;
    font-weight: 400;
    color: #FF8A63;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.newsroom_subtitle{
    font-size: 36px;
    font-weight: 400;
    color: #45525B;
    line-height: 44px;
}
.newsroom_blocks{
    display: flex;
    margin-bottom: 20px;
}
.newsroom_block{
    height: 364px;
    margin-right: 20px;
    background-color: #ffffff;
    border: 2px solid transparent;
}
.newsroom_block:hover{
    border: 2px solid #6b6b6ba8;
}
.newsroom_block_texts{
    padding-top: 20px;
    padding-left: 30px;
}
.newsroom_block_title{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    margin-bottom: 8px;
}
.newsroom_block_subtitle{
    width: 308px;
    font-size: 16px;
    font-weight: 400;
    color: #45525B;
    margin-bottom: 10px;
    height: 39px;
}
.newsroom_block_date{
    font-size: 13px;
    font-weight: 400;
    color: #6F7278;
}
.newsroom_view{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #45525B;
}
/* section8 */
.section8{
    padding: 100px 0 100px 0;
    background-color: #45525B;
}
.section8_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section8_texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section8_title{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFC;
}
.section8_subtitle{
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 44px;
    margin-bottom: 13px;
}
.section8_text{
    width: 574px;
    font-size: 18px;
    font-weight: 400;
    color: #FAFAFC;
    margin-bottom: 20px;
}
.section8_buttons{
    display: flex;
}
.section8_button{
    width: 102px;
    height: 44px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #45525B;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.section8_button:hover{
    filter: drop-shadow(0px 1px 5px #FF8A63);
}
/* footer */
.footer{
    padding: 100px 0 100px 0;
    background-color: #292C32;
}
.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_footer{
    display: flex;
    margin-bottom: 28px;
}
.footer_menu{
    width: 208px;
}
.footer_logo{
    width: 160px;
    height: 58px;
    margin-bottom: 75px;
}
.footer_link_title{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FF8A63;
}
.footer_menu_link{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    transition: 0.3s;
}
.footer_menu_link:hover{
    color: #ff6a6a;
}
.footer_li{
    margin: 9px 0;
}
.footer_last{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.newsletter_title{
    font-size: 14px;
    font-weight: 40;
    color: #FF8A63;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.newsletter_subtitle{
    font-size: 16px;
    font-weight: 400;
    width: 450px;
    color: #FAFAFC;
    margin-bottom: 10px;
}
.footer_text{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.footer_icon{
    margin: 0 10px;
}
.footer_input{
    font-size: 16px;
    font-weight: 400;
    color: #6F7278;
    width: 458px;
    height: 53px;
    border-radius: 10px;
    border: none;
    padding-left: 34px;
}
.footer_input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #6F7278;
}
.footer_button{
    width: 73px;
    height: 39px;
    background-color: #3A4443;
    border-style: none;
    border-radius: 10px;
    margin-left: -85px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}